@import "../styles.scss";

.app {
  width: 90%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 24px;
  padding: 24px 0;
  margin: 0 auto;

  & > h1 {
    text-align: center;
  }

  & > footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

    & > p {
      font-size: 14px;
      background-color: $principal;
      box-shadow: -4px 4px 0px $white;
      padding: 8px 16px;

      & > span {
        font-weight: 700;
      }
    }
  }
}
