/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

$principal: #42E2B8;
$black: #0F0A0A;
$white: rgb(236, 236, 236);

* {
  font-family: 'Montserrat', sans-serif;
  color: $black;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(135deg, #FAD7A1 0%, #E96D71 100%);
  margin: 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

p {
  font-size: 20px;
}
